/*Universal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    font-family:"Space Grotesk", sans-serif;
    background-color: rgb(254, 247, 247);
}
/*Dividing Line*/
#line{
    height: 1px;
    width: 67vw;
    background-color: rgb(202, 198, 198,0.5);
    margin: 0 16vw;
    
}
/*back to home link*/
.backb1 a,footer a{
    text-decoration: none;
    color: black;
}
/*Navbar*/

.navbar{
    height: 9vh;
    padding: 1vh 18.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoDetails{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
    letter-spacing: 0.1px;
    font-weight: 550;
    font-size: 1.6vh;
}
.logoImage >img{
    height: 33px;
    height: 33px;
    border-radius: 7px;
}

.socialMedia{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.7vw;
}
.socialMediaBox{
    border-radius:25px;
    width: 6vw;
    height: 4.3vh;
    font-size: 1.6vh;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
#gitHub{
   border: 2.3px solid black;
}
#gitHub span{
    font-size: 1.8vh;
}
#telegram{
    border: 1.8px solid black;
}
#telegram span{
    margin-left: 3px;
}


/*Main Page*/
.mainPage{
    display: flex;
    justify-content: space-between;
    padding: 4vh 18.5vw;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 5vh;
}

.openSource{
    font-size: 1.8vh;
    color: rgb(234, 51, 35);
    font-weight: 600;
}

.tagline{
    width: 35vw;
    font-size: 6vh;
    letter-spacing: 1px;
    font-weight: 550;
    line-height: 60px;
    display: flex;
    flex-direction: column;
}

.mainPagePara{
    width: 40vw;
    font-size: 1.85vh;
    letter-spacing: 0.2px;
    font-weight: 300;
    line-height: 25px;
    color: rgb(96, 99, 103);
}

.mainButtons{
    display: flex;
    align-items: center;
    gap: 30px;
}

.mB1{
    width: 11vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 7px;
    border: 1.3px solid black;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 1.7vh;
    font-weight: 545;
}

.mB1 .user{
    height: 2.3vh;
    width: 10vw;
    text-align: center;
    border-radius: 30px;
    padding:3px 5px 5px 5px;
    border: 1px solid black;
    font-size: 1.5vh;
    background-color: rgb(234, 228, 228);
}
.mB2{
    width: 8vw;
    height: 5vh;
    border: 1.3px solid black;
    border-radius: 13px;
    text-align: center;
    padding: 1.30vh 0;
    font-weight: 550;
}


/*Features*/
.features{
    padding: 4vh 18.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    margin: 0 0 4vh 0;
}

.fh21{
    font-weight: 500px;
    font-size: 2vh;
    color: rgb(234, 51, 35);
}

.fh22{
    font-weight: 550px;
    font-size: 4vh;
}

.featureDetails{
    display: flex;
    justify-content: space-between;
    position: sticky;
}

.Categories{
    width: 15vw;
    height: 34vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 10px;
    border: 2px solid rgb(235, 235, 235);
    border-radius: 15px;
    position:sticky;
    top: 20px;
}

.ch21{
    padding: 5px 4px;
}

.CategoriesBoxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5vh;
    border: 1.35px solid #f6d4d4;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 1.55vh;
}

.catCount{
    background-color: black;
    color: white;
    height: 2.5vh;
    width:  1.7vw;
    border-radius: 15px;
    text-align: center;
    padding:3px 5px 5px 5px;
    font-size: 1.55vh;
}

.categoriesDescription{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Music*/

.music{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45vw;
    height: 32vh;
    padding: 15px 10px 10px 40px;
    border: 2px solid rgb(235, 235, 235);
    border-radius: 15px;
    margin: 0.5vh 0 1vh 0;
}

.mh21{
    color: rgb(234, 51, 35);
    font-size: 1.8vh;
    margin: 0 0 0 -1vw;
}

.mh31{
    font-size: 1.8vh;
    margin: 1vh 0 1.5vh -1vw;
}

.listSection{
    display:flex;
    justify-content: space-between; 
}

.listSection1{
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    padding-bottom: 1vh;
}

.listSection2{
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    padding-bottom: 1vh;
}

/*Recommendations (Echo Brain)*/

.echoBrain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45vw;
    height: 24vh;
    padding: 15px 10px 10px 40px;
    border: 2px solid rgb(235, 235, 235);
    border-radius: 15px;
    gap: 5px;
    margin: 0.5vh 0 1vh 0;
}

.ebh21{
    color: rgb(234, 51, 35);
    font-size: 1.8vh;
    margin: 0 0 0 -1vw;
}

.ebh31{
    font-size: 1.8vh;
    margin: 0.5vh 0 1.5vh -1vw;
}

/*Lyrics*/

.lyrics{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45vw;
    height: 20vh;
    padding: 15px 10px 10px 40px;
    border: 2px solid rgb(235, 235, 235);
    border-radius: 15px;
    gap: 5px;
    margin: 0.5vh 0 1vh 0;
}

.lyrh21{
    color: rgb(234, 51, 35);
    font-size: 1.8vh;
    margin: 0 0 0 -1vw;
}

.lyrh31{
    font-size: 1.8vh;
    margin: 0.5vh 0 1.5vh -1vw;
}

/*Downloads*/

.downloads{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45vw;
    height: 27vh;
    padding: 15px 10px 10px 40px;
    border: 2px solid rgb(235, 235, 235);
    border-radius: 15px;
    gap: 5px;
    margin: 0.5vh 0 1vh 0;
}

.downh21{
    color: rgb(234, 51, 35);
    font-size: 1.8vh;
    margin: 0 0 0 -1vw;
}

.downh31{
    font-size: 1.8vh;
    margin: 0.5vh 0 1.5vh -1vw;
}

/*Library*/

.library{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45vw;
    height: 20vh;
    padding: 15px 10px 10px 40px;
    border: 2px solid rgb(235, 235, 235);
    border-radius: 15px;
    gap: 5px;
    margin: 0.5vh 0 1vh 0;
}

.libh21{
    color: rgb(234, 51, 35);
    font-size: 1.8vh;
    margin: 0 0 0 -1vw;
}

.libh31{
    font-size: 1.8vh;
    margin: 0.5vh 0 1.5vh -1vw;
}

/*Privacy*/

.privacy{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45vw;
    height: 20vh;
    padding: 15px 10px 10px 40px;
    border: 2px solid rgb(235, 235, 235);
    border-radius: 15px;
    gap: 5px;
    margin: 0.5vh 0 0 0;
}

.prih21{
    color: rgb(234, 51, 35);
    font-size: 1.8vh;
    margin: 0 0 0 -1vw;
}

.prih31{
    font-size: 1.8vh;
    margin: 0.5vh 0 1.5vh -1vw;
}

/*FAQ*/

.FAQS{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vh 18.5vw;
    gap: 8px;
    margin: 0 0 6vh 0;
}

.faqh21{
    color: rgb(234, 51, 35);
    font-size: 2vh;
}

.faqParah22{
    font-size: 4vh;
}

.faqBoxes{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px 0 0 0;
}

.faqBoxes .que{
    font-weight: 600;
    letter-spacing: 0.1px;
    border: 2px solid rgb(235, 235, 235);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    padding: 5px 15px 5px 15px;
    font-size: 1.65vh;
}

.que i{
    font-size: 10px;
}

/*KEEP IT ALIVE*/

.keepItAlive{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vh 18.5vw;
    gap: 10px;
    margin: 0 0 4vh 0;
}

.keeph21{
    color: rgb(234, 51, 35);
    font-size: 2vh;
    letter-spacing: 0.1px;
}

.keeph22{
    font-size: 4vh;
    letter-spacing: 0.1px;
}

.keepPara{
    width: 45vw;
    font-size: 1.65vh;
    letter-spacing: 0.1px;
    line-height: 2.2vh;
    margin: 0.5vh 0 0.5vh 0;
}

.support{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.coffee{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 22vw;
    height: 21.5vh;
    border: 1.5px solid black;
    border-radius: 10px;
    padding: 20px 5px 15px 20px;
}
.coffeeImage img{
    height: 45px;
}

.coffeeh21{
    font-size: 2.3vh;
}

.coffeePara{
    font-size: 1.7vh;
    letter-spacing: 0.1px;
    line-height: 2.2vh;
}

.coffeeh31{
    color: rgb(234, 51, 35);
    font-size: 1.8vh;
}

/*GitHub Sponsers*/

.gitHubSponsers{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 22vw;
    height: 21.5vh;
    border: 1.5px solid black;
    border-radius: 10px;
    padding: 20px 5px 15px 20px;
}

.gitHubh21{
    font-size: 2.3vh;
}

.gitHubPara{
    font-size: 1.7vh;
    letter-spacing: 0.1px;
    line-height: 2.2vh;
}

.gitHubh31{
    color: rgb(234, 51, 35);
    font-size: 1.8vh;
}

/*UPI*/

.upi{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 22vw;
    height: 21.5vh;
    border: 1.5px solid black;
    border-radius: 10px;
    padding: 20px 5px 15px 20px;
}

.upih21{
    font-size: 2.3vh;
}

.upiPara{
    font-size: 1.7vh;
    letter-spacing: 0.1px;
    line-height: 2.2vh;
}

.upih31{
    color: rgb(234, 51, 35);
    font-size: 1.8vh;
}

/*Footer*/

footer{
    display: flex;
    justify-content: space-between;
    padding: 1vh 18.5vw;
    margin: 1.5vh 0 1.5vh 0;
    font-size: 1.65vh;
}

.flist{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footerList ul{
    list-style-type: none;
}

/*Privacy Policy*/

.backToHome{
    border-radius:25px;
    width: 8vw;
    height: 4.3vh;
    font-size: 1.6vh;
    text-align: center;
    border: 1.8px solid black;
    padding: 10px 0 5px 0;
}

/*Privacy Policy*/

.privacyMainPage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vh 18.5vw;
    margin: 2vh 0 2vh 0 ;
    gap: 15px;
}

.privacyh11{
    color: rgb(234, 51, 35);
    font-size: 2vh;
}

.privacyMainPageBox1{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.privacyh21{
    font-size: 5vh;
    letter-spacing: 0.5px;
}
.privacyPara{
    font-size: 1.85vh;
    letter-spacing: 0.1px;
    width: 43vw;
    line-height: 20px;
}

/*PrivacyFirst Design*/
.privacyFirstDesignDiv1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding: 1vh 18.5vw;
    margin: 2vh 0 2vh 0 ;
}

.privacyFirstDesignh21{
    font-size: 4.5vh;
    letter-spacing: 0.5px;
}

.privacyFirstDesignPara{
    font-size: 1.85vh;
    letter-spacing: 0.1px;
    width: 45vw;
    line-height: 20px;
}

/*Privacy Boxes*/

.privacyBoxes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 1vh 18.5vw;
    margin: 2vh 0 2vh 0 ;
}

/*Below are same for all the boxes*/

.privacyBoxh2{
    font-size: 2.5vh;
    letter-spacing: 0.5px;
}

.privacyBoxPara{
    font-size: 1.8vh;
}

.privacyBoxList{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
    padding: 0 0 0 1vw;
    font-size: 1.75vh;
}

.privacyBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 14px;
    border: 2px solid rgb(235, 235, 235);
    border-radius: 15px;
    padding: 2.3vh 2vw 3vh 1.5vw;
    background-color: white;
}

.privacyFooterPara1{
    text-align: center;
    margin: 0 0 0 25vw;
}

/*Term and Conditions*/
.termAndCondition{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vh 18.5vw;
    margin: 2vh 0 2vh 0 ;
    gap: 15px;
}

.tAndDh11{
    color: rgb(234, 51, 35);
    font-size: 2vh;
}

.tAndDBox1{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tAndDh21{
    font-size: 5vh;
    letter-spacing: 0.5px;
}
.tAndDPara{
    font-size: 1.85vh;
    letter-spacing: 0.1px;
    width: 43vw;
    line-height: 20px;
}

/*PrivacyFirst Design*/
.importantLegalInformationDiv1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding: 1vh 18.5vw;
    margin: 2vh 0 2vh 0 ;
}

.importantLegalInformationh21{
    font-size: 4.5vh;
    letter-spacing: 0.5px;
}

.importantLegalInformationPara{
    font-size: 1.85vh;
    letter-spacing: 0.1px;
    width: 45vw;
    line-height: 20px;
}

/*Privacy Boxes*/

.tAndDBoxes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 1vh 18.5vw;
    margin: 2vh 0 2vh 0 ;
}
/*Below are same for all the boxes*/

.tAndDBoxh2{
    font-size: 2.5vh;
    letter-spacing: 0.5px;
}

.tAndDBoxPara{
    font-size: 1.8vh;
}

.tAndDBoxList{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
    padding: 0 0 0 1vw;
    font-size: 1.75vh;
}

.tAndDBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 14px;
    border: 2px solid rgb(235, 235, 235);
    border-radius: 15px;
    padding: 2.3vh 2vw 3vh 1.5vw;
    background-color: white;
}